html, body, #container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
}

canvas {
  margin: 0;
  padding: 0;
}

#dataset-selector {
  position: absolute;
  top: 12px;
  right: 12px;
}